---
---

$nordic-blue: #00a9ce;

$text-blue: $nordic-blue;

@import '{{ site.theme }}';

body {
  padding: 50px;
}

header {
  width: 270px;
  float: left;
  position: fixed;

  img {
    max-width: 75%;
    margin: 1em 0;
  }

  h2 {
    font-size: 100%;
  }

  ul {
    list-style: none;
  }
}

main {
  margin-left: 300px;
}
