---
---

$nordic-blue: #00a9ce;

$text-blue: $nordic-blue;

@import "{{ site.theme }}";

body {
  padding:50px;
}

header {
  width: 270px;
  float: left;
  position: fixed;

  img {
    max-width: 100%;
  }
}

main {
  margin-left: 300px;
}
