<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <h2>{{ site.description }}</h2>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <div id="header-toc">
          {% capture my_include %}{% include toc.md %}{% endcapture %}
          {{ my_include | markdownify }}
        </div>

        {% if site.github.is_project_page %}
        <hr>
        <p><a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }} on GitHub</a></p>
        {% endif %}
      </header>

      <main class="markdown-body">
        {{ content }}
      </main>

      <div id="footer-toc">
          <hr>

          {% capture my_include %}{% include toc.md %}{% endcapture %}
          {{ my_include | markdownify }}
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/5.0.0/anchor.min.js" integrity="sha512-byAcNWVEzFfu+tZItctr+WIMUJvpzT2kokkqcBq+VsrM3OrC5Aj9E2gh+hHpU0XNA3wDmX4sDbV5/nkhvTrj4w==" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
